src/main/resources/schema/adv/katalogtool/AAA-Katalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.adv-online.de/namespaces/adv/gid/fc/7.1" xmlns:nas="http://www.adv-online.de/namespaces/adv/gid/7.1" xmlns:aaafc="http://www.adv-online.de/namespaces/adv/gid/fc/7.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wfs="http://www.opengis.net/wfs" xmlns:ogc="http://www.opengis.net/ogc" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="7.1">
	<xs:include schemaLocation="ISO-Katalog.xsd"/>
	<xs:import namespace="http://www.adv-online.de/namespaces/adv/gid/7.1" schemaLocation="../nas/7.1/aaa.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../ogc/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../iso/19139/20070417/gmd/gmd.xsd"/>
	<!-- Paket AAA_Katalog -->
	<xs:group name="AC_CommonElements">
		<xs:sequence>
			<xs:element name="modellart" type="nas:AA_ModellartPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="grunddatenbestand" type="nas:AA_ModellartPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="profil" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AC_Profil" type="aaafc:AC_ProfilType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="letzteAenderung" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AC_LetzteAenderung" type="aaafc:AC_LetzteAenderungType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="anmerkung" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="isRetired" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="retiredSinceVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="landnutzung" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="nutzungsart" type="xs:string" minOccurs="0"/>
			<xs:element name="nutzungsartkennung" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="AC_FeatureType" type="aaafc:AC_FeatureTypeType" substitutionGroup="aaafc:FC_FeatureType"/>
	<xs:complexType name="AC_FeatureTypeType">
		<xs:complexContent>
			<xs:extension base="aaafc:FC_FeatureTypeType">
				<xs:sequence>
					<xs:group ref="aaafc:AC_CommonElements"/>
					<xs:element name="wirdTypisiertDurch" type="aaafc:AC_ObjektTypenBezeichnungType" minOccurs="0"/>
					<xs:element name="erfassungskriterium" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Erfassungskriterium" type="aaafc:AC_ErfassungskriteriumType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="bildungsregel" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Bildungsregel" type="aaafc:AC_BildungsregelType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="auswerteregel" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Auswerteregel" type="aaafc:AC_AuswerteregelType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="konsistenzbedingung" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Konsistenzbedingung" type="aaafc:AC_KonsistenzbedingungType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="lebenszeitintervallbeschreibung" type="xs:string" minOccurs="0"/>
					<xs:element name="diagramm" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="thema" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:AC_Thema</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AC_ObjektTypenBezeichnungType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REO"/>
			<xs:enumeration value="NREO"/>
			<xs:enumeration value="ZUSO"/>
			<xs:enumeration value="PMO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AC_Typensammlung" type="aaafc:AC_TypensammlungType" abstract="true" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="AC_TypensammlungType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<xs:element name="isRetired" type="xs:boolean" default="false" minOccurs="0"/>
					<xs:element name="retiredSinceVersion" type="xs:string" minOccurs="0"/>
					<xs:element name="nutzungsartkennung" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="diagramm" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="anmerkung" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_Objektartengruppe" type="aaafc:AC_ObjektartengruppeType" substitutionGroup="aaafc:AC_Typensammlung"/>
	<xs:complexType name="AC_ObjektartengruppeType">
		<xs:complexContent>
			<xs:extension base="aaafc:AC_TypensammlungType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_Objektartenbereich" type="aaafc:AC_ObjektartenbereichType" substitutionGroup="aaafc:AC_Typensammlung"/>
	<xs:complexType name="AC_ObjektartenbereichType">
		<xs:complexContent>
			<xs:extension base="aaafc:AC_TypensammlungType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_Thema" type="aaafc:AC_ThemaType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="AC_ThemaType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<!-- Informationen stehen derzeit nicht im Katalog zur Verfügung
					<xs:element name="art" type="aaafc:AC_ThemenartType"/>
					<xs:element name="modellart" type="nas:AA_ModellartPropertyType"/>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AC_ThemenartType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="alleObjekte"/>
			<xs:enumeration value="anwenderdefiniert"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AC_FeatureCatalogue" type="aaafc:AC_FeatureCatalogueType" substitutionGroup="aaafc:FC_FeatureCatalogue"/>
	<xs:complexType name="AC_FeatureCatalogueType">
		<xs:complexContent>
			<xs:extension base="aaafc:FC_FeatureCatalogueType">
				<xs:sequence>
					<xs:element name="profil" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Profil" type="aaafc:AC_ProfilType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_FeatureAttribute" type="aaafc:AC_FeatureAttributeType" substitutionGroup="aaafc:FC_FeatureProperty"/>
	<xs:complexType name="AC_FeatureAttributeType">
		<xs:complexContent>
			<xs:extension base="aaafc:FC_FeatureAttributeType">
				<xs:sequence>
					<xs:group ref="aaafc:AC_CommonElements"/>
					<xs:element name="objektbildend" type="xs:boolean" default="false"/>
					<xs:element name="bildungsregel" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Bildungsregel" type="aaafc:AC_BildungsregelType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="auswerteregel" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Auswerteregel" type="aaafc:AC_AuswerteregelType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_ListedValue" type="aaafc:AC_ListedValueType" substitutionGroup="aaafc:FC_ListedValue"/>
	<xs:complexType name="AC_ListedValueType">
		<xs:annotation>
			<xs:documentation>
Value for an enumerated feature attribute domain, including its codes and interpretation.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="aaafc:FC_ListedValueType">
				<xs:sequence>
					<xs:group ref="aaafc:AC_CommonElements"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_AssociationRole" type="aaafc:AC_AssociationRoleType" substitutionGroup="aaafc:FC_AssociationRole"/>
	<xs:complexType name="AC_AssociationRoleType">
		<xs:complexContent>
			<xs:extension base="aaafc:FC_AssociationRoleType">
				<xs:sequence>
					<xs:group ref="aaafc:AC_CommonElements"/>
					<xs:element name="objektbildend" type="xs:boolean" default="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AC_FeatureOperation" type="aaafc:AC_FeatureOperationType" substitutionGroup="aaafc:FC_FeatureOperation"/>
	<xs:complexType name="AC_FeatureOperationType">
		<xs:complexContent>
			<xs:extension base="aaafc:FC_FeatureOperationType">
				<xs:sequence>
					<xs:group ref="aaafc:AC_CommonElements"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AC_ErfassungskriteriumType">
		<xs:sequence>
			<xs:element name="kriterium" type="xs:string"/>
			<xs:element name="modellart" type="nas:AA_ModellartPropertyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AC_BildungsregelType">
		<xs:sequence>
			<xs:element name="regel" type="xs:string"/>
			<xs:element name="modellart" type="nas:AA_ModellartPropertyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AC_AuswerteregelType">
		<xs:sequence>
			<xs:element name="regel" type="xs:string"/>
			<xs:element name="modellart" type="nas:AA_ModellartPropertyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AC_KonsistenzbedingungType">
		<xs:sequence>
			<xs:element name="bedingung" type="xs:string"/>
			<xs:element name="modellart" type="nas:AA_ModellartPropertyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AC_DataType" type="aaafc:AC_DataTypeType" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="AC_DataTypeType">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<xs:element name="isAbstract" type="xs:boolean" default="false"/>
					<xs:element name="kategorie" type="aaafc:AC_DataTypeKategorieType"/>
					<xs:element name="constrainedBy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:group ref="aaafc:AC_CommonElements"/>
					<xs:element name="konsistenzbedingung" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AC_Konsistenzbedingung" type="aaafc:AC_KonsistenzbedingungType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AC_DataTypeKategorieType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DataType"/>
			<xs:enumeration value="Union"/>
			<xs:enumeration value="Request"/>
			<xs:enumeration value="Response"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AC_ProfilType">
		<xs:sequence>
			<xs:element name="modellart" type="nas:AA_ModellartPropertyType"/>
			<xs:element name="profilname" type="gml:CodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AC_LetzteAenderungType">
		<xs:sequence>
			<xs:element name="letzteAenderungVersion" type="xs:string"/>
			<xs:element name="letzteAenderungRevisionsnummer" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
