src/main/resources/schema/adv/katalogtool/ISO-Katalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.adv-online.de/namespaces/adv/gid/fc/6.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ogc="http://www.opengis.net/ogc" xmlns:wfs="http://www.opengis.net/wfs" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:nas="http://www.adv-online.de/namespaces/adv/gid/6.0" xmlns:aaafc="http://www.adv-online.de/namespaces/adv/gid/fc/6.0" elementFormDefault="qualified">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../ogc/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../iso/19139/20070417/gmd/gmd.xsd"/>
	<xs:simpleType name="MultiplicityType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="*"/>
					<xs:enumeration value="n"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\d+\.\.(\d+|\*|n)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Paket Feature Cataloging -->
	<xs:element name="FC_ListedValue" type="aaafc:FC_ListedValueType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_ListedValueType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureAssociation" type="aaafc:FC_FeatureAssociationType" substitutionGroup="aaafc:FC_FeatureType"/>
	<xs:complexType name="FC_FeatureAssociationType">
		<xs:complexContent>
			<xs:extension base="aaafc:FC_FeatureTypeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureCatalogue" type="aaafc:FC_FeatureCatalogueType" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="FC_FeatureCatalogueType">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<xs:element name="scope" type="xs:string" maxOccurs="unbounded"/>
					<xs:element name="fieldOfApplication" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="versionNumber" type="xs:string"/>
					<xs:element name="versionDate" type="xs:date"/>
					<xs:element name="producer" type="gmd:CI_ResponsibleParty_PropertyType"/>
					<!--<xs:element name="functionalLanguage" type="xs:string" minOccurs="0"/>-->
					<!--<xs:element name="definitionSource" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_DefinitionSource</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureProperty" type="aaafc:FC_FeaturePropertyType" abstract="true" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="FC_FeaturePropertyType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<!--<xs:element name="constrainedBy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureAttribute" type="aaafc:FC_FeatureAttributeType" substitutionGroup="aaafc:FC_FeatureProperty"/>
	<xs:complexType name="FC_FeatureAttributeType">
		<xs:complexContent>
			<xs:extension base="aaafc:FC_FeaturePropertyType">
				<xs:sequence>
					<xs:element name="cardinality" type="aaafc:MultiplicityType" default="1"/>
					<xs:choice minOccurs="0">
						<xs:element name="valueTypeName">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="gml:CodeType">
										<xs:attribute name="collectionType" type="aaafc:CollectionType" default="noCollection"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="valueType">
							<xs:annotation>
								<xs:appinfo>
									<aaafc:referenziertesElement>aaafc:FC_FeatureType,aaafc:AC_FeatureType,aaafc:AC_DataType</aaafc:referenziertesElement>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="gml:ReferenceType">
										<xs:attribute name="collectionType" type="aaafc:CollectionType" default="noCollection"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<!--<xs:element name="valueMeasurementUnit" type="gml:UnitOfMeasureType" minOccurs="0"/>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CollectionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="noCollection"/>
			<xs:enumeration value="set"/>
			<xs:enumeration value="sequence"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FC_AssociationRole" type="aaafc:FC_AssociationRoleType" substitutionGroup="aaafc:FC_FeatureProperty"/>
	<xs:complexType name="FC_AssociationRoleType">
		<xs:complexContent>
			<xs:extension base="aaafc:FC_FeaturePropertyType">
				<xs:sequence>
					<xs:element name="cardinality" type="aaafc:MultiplicityType" default="0..*"/>
					<xs:element name="type" type="aaafc:FC_RoleTypeType" default="ordinary"/>
					<xs:element name="isOrdered" type="xs:boolean" default="false"/>
					<xs:element name="relation" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_FeatureAssociation</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="valueTypeName" type="gml:CodeType"/>
						<xs:element name="valueType" type="gml:ReferenceType">
							<xs:annotation>
								<xs:appinfo>
									<aaafc:referenziertesElement>aaafc:FC_FeatureType,aaafc:AC_FeatureType,aaafc:AC_DataType</aaafc:referenziertesElement>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<!-- Information zurzeit nicht im Katalog enthalten
					<xs:element name="isNavigable" type="xs:boolean" default="true"/>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureType" type="aaafc:FC_FeatureTypeType" substitutionGroup="gml:Dictionary"/>
	<xs:complexType name="FC_FeatureTypeType">
		<xs:complexContent>
			<xs:extension base="gml:DictionaryType">
				<xs:sequence>
					<xs:element name="isAbstract" type="xs:boolean" default="false"/>
					<xs:element name="constrainedBy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<!--<xs:element name="inheritsFrom" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_InheritanceRelation</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
					<!--<xs:element name="aliases" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>-->
					<!--<xs:element name="inheritsTo" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_InheritanceRelation</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_InheritanceRelation" type="aaafc:FC_InheritanceRelationType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_InheritanceRelationType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="supertypeName" type="gml:CodeType"/>
						<xs:element name="supertype" type="gml:ReferenceType">
							<xs:annotation>
								<xs:appinfo>
									<aaafc:referenziertesElement>aaafc:FC_FeatureType</aaafc:referenziertesElement>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<!--<xs:element name="uniqueInstance" type="xs:boolean"/>
					<xs:element name="subtype" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_FeatureType</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_FeatureOperation" type="aaafc:FC_FeatureOperationType" substitutionGroup="aaafc:FC_FeatureProperty"/>
	<xs:complexType name="FC_FeatureOperationType">
		<xs:complexContent>
			<xs:extension base="aaafc:FC_FeaturePropertyType">
				<xs:sequence>
					<xs:element name="cardinality" type="aaafc:MultiplicityType" default="1"/>
					<!--<xs:element name="signature" type="xs:string"/>
					<xs:element name="formalDefinition" type="xs:string" minOccurs="0"/>
					<xs:element name="triggeredByValuesOf" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_BoundFeatureAttribute</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="observesValuesOf" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_BoundFeatureAttribute</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="affectsValuesOf" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_BoundFeatureAttribute</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="FC_RoleTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ordinary"/>
			<xs:enumeration value="aggregation"/>
			<xs:enumeration value="composition"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:element name="FC_Binding" type="aaafc:FC_BindingType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_BindingType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:element name="description" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
	<!--<xs:element name="FC_DefinitionSource" type="aaafc:FC_DefinitionSourceType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_DefinitionSourceType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:element name="source">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CI_Citation" type="aaafc:CI_CitationType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_DefinitionReference" type="aaafc:FC_DefinitionReferenceType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_DefinitionReferenceType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:element name="sourceIdentifier" type="xs:string" minOccurs="0"/>
					<xs:element name="definitionSource" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_DefinitionSource</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FC_BoundFeatureAttribute" type="aaafc:FC_BoundFeatureAttributeType" substitutionGroup="gml:Definition"/>
	<xs:complexType name="FC_BoundFeatureAttributeType">
		<xs:complexContent>
			<xs:extension base="gml:DefinitionType">
				<xs:sequence>
					<xs:element name="featureType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_FeatureType</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="attribute" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<aaafc:referenziertesElement>aaafc:FC_FeatureAttribute</aaafc:referenziertesElement>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
</xs:schema>
