src/main/resources/schema/adv/nas/7.1/NAS-Operationen.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:adv="http://www.adv-online.de/namespaces/adv/gid/7.1" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:wfsext="http://www.adv-online.de/namespaces/adv/gid/wfsext/2.0" elementFormDefault="qualified" targetNamespace="http://www.adv-online.de/namespaces/adv/gid/7.1" version="7.1.2">
  <include schemaLocation="AAA-Fachschema.xsd"/>
  <include schemaLocation="aaa.xsd"/>
  <import namespace="http://www.adv-online.de/namespaces/adv/gid/wfsext/2.0" schemaLocation="../../wfsext/2.0/WFS-Erweiterungen.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../../iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../ogc/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="../../../ogc/gml/3.3/extdEncRule.xsd"/>
  <import namespace="http://www.opengis.net/ows/1.1" schemaLocation="../../../ogc/ows/1.1.0/owsAll.xsd"/>
  <import namespace="http://www.opengis.net/wfs/2.0" schemaLocation="../../../ogc/wfs/2.0/wfs.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AX_Benutzungsauftrag" substitutionGroup="adv:AA_Benutzungsauftrag" type="adv:AX_BenutzungsauftragType"/>
  <complexType name="AX_BenutzungsauftragType">
    <complexContent>
      <extension base="adv:AA_BenutzungsauftragType">
        <sequence>
          <element name="profilkennung" type="string"/>
          <element name="antragsnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="abhaengigVon" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="selektionsmassstab" type="adv:AX_Selektionsmasstab_BenutzungsauftragType"/>
          <element minOccurs="0" name="mitMetadaten" type="boolean"/>
          <element minOccurs="0" name="verarbeitungszeitpunkt" type="dateTime"/>
          <element minOccurs="0" name="folgeverarbeitung" type="adv:AX_FOLGEVAPropertyType"/>
          <element minOccurs="0" name="auftragsnummer" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_BenutzungsauftragPropertyType">
    <sequence>
      <element ref="adv:AX_Benutzungsauftrag"/>
    </sequence>
  </complexType>
  <element name="AX_BenutzungsbezogeneMetadaten" substitutionGroup="gml:AbstractObject" type="adv:AX_BenutzungsbezogeneMetadatenType"/>
  <complexType name="AX_BenutzungsbezogeneMetadatenType">
    <sequence>
      <element name="anlass" type="gml:ReferenceType">
        <annotation>
          <appinfo>
            <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AA_Anlassart_Benutzungsauftrag</targetCodeList>
          </appinfo>
        </annotation>
      </element>
      <element name="metadaten" type="adv:AX_Metadaten_DynamischPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="AX_BenutzungsbezogeneMetadatenPropertyType">
    <sequence>
      <element ref="adv:AX_BenutzungsbezogeneMetadaten"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AX_Benutzungsergebnis" substitutionGroup="adv:AA_Ergebnis" type="adv:AX_BenutzungsergebnisType"/>
  <complexType abstract="true" name="AX_BenutzungsergebnisType">
    <complexContent>
      <extension base="adv:AA_ErgebnisType">
        <sequence>
          <element name="antragsnummer" type="string"/>
          <element name="allgemeineAngaben" type="adv:AX_K_BenutzungsergebnisPropertyType"/>
          <element minOccurs="0" name="metadaten" type="adv:AX_Metadaten_BenutzungsergebnisPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_BenutzungsergebnisPropertyType">
    <sequence>
      <element ref="adv:AX_Benutzungsergebnis"/>
    </sequence>
  </complexType>
  <element name="AX_Bestandsdatenauszug" substitutionGroup="adv:AX_Benutzungsergebnis" type="adv:AX_BestandsdatenauszugType"/>
  <complexType name="AX_BestandsdatenauszugType">
    <complexContent>
      <extension base="adv:AX_BenutzungsergebnisType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="koordinatenangaben" type="adv:AA_KoordinatenreferenzsystemangabenPropertyType"/>
          <element minOccurs="0" name="enthaelt">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence>
                    <element ref="wfs:FeatureCollection"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_BestandsdatenauszugPropertyType">
    <sequence>
      <element ref="adv:AX_Bestandsdatenauszug"/>
    </sequence>
  </complexType>
  <element name="AX_Einrichtungsauftrag" substitutionGroup="adv:AA_Auftrag" type="adv:AX_EinrichtungsauftragType"/>
  <complexType name="AX_EinrichtungsauftragType">
    <complexContent>
      <extension base="adv:AA_AuftragType">
        <sequence>
          <element name="profilkennung" type="string"/>
          <element name="antragsnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="abhaengigVon" type="string"/>
          <element name="auftragsnummer" type="string"/>
          <element minOccurs="0" name="impliziteLoeschungDerReservierung" type="adv:AX_ImpliziteLoeschungDerReservierungType"/>
          <element minOccurs="0" name="verarbeitungsart" type="adv:AX_Verarbeitungsart_EinrichtungsauftragType"/>
          <element name="neueObjekte">
            <complexType>
              <sequence>
                <element ref="wfs:Transaction"/>
              </sequence>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="koordinatenangaben" type="adv:AA_KoordinatenreferenzsystemangabenPropertyType"/>
          <element minOccurs="0" name="laufendeNummervonGesamtzahl" type="integer"/>
          <element minOccurs="0" name="gesamtzahl" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_EinrichtungsauftragPropertyType">
    <sequence>
      <element ref="adv:AX_Einrichtungsauftrag"/>
    </sequence>
  </complexType>
  <element name="AX_Einrichtungsergebnis" substitutionGroup="adv:AA_Fortfuehrungsergebnis" type="adv:AX_EinrichtungsergebnisType"/>
  <complexType name="AX_EinrichtungsergebnisType">
    <complexContent>
      <extension base="adv:AA_FortfuehrungsergebnisType">
        <sequence>
          <element name="antragsnummer" type="string"/>
          <element minOccurs="0" name="temporaererArbeitsbereich" type="adv:AX_FortfuehrungsauftragPropertyType"/>
          <element minOccurs="0" name="laufendeNummervonGesamtzahl" type="integer"/>
          <element minOccurs="0" name="gesamtzahl" type="integer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_EinrichtungsergebnisPropertyType">
    <sequence>
      <element ref="adv:AX_Einrichtungsergebnis"/>
    </sequence>
  </complexType>
  <element name="AX_Entsperrauftrag" substitutionGroup="adv:AA_Auftrag" type="adv:AX_EntsperrauftragType"/>
  <complexType name="AX_EntsperrauftragType">
    <complexContent>
      <extension base="adv:AA_AuftragType">
        <sequence>
          <element name="profilkennung" type="string"/>
          <element name="antragsnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="abhaengigVon" type="string"/>
          <element name="auftragsnummer" type="string"/>
          <element maxOccurs="unbounded" name="uuidListe" type="anyURI"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_EntsperrauftragPropertyType">
    <sequence>
      <element ref="adv:AX_Entsperrauftrag"/>
    </sequence>
  </complexType>
  <element name="AX_Entsperrergebnis" substitutionGroup="adv:AA_Ergebnis" type="adv:AX_EntsperrergebnisType"/>
  <complexType name="AX_EntsperrergebnisType">
    <complexContent>
      <extension base="adv:AA_ErgebnisType">
        <sequence>
          <element name="antragsnummer" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_EntsperrergebnisPropertyType">
    <sequence>
      <element ref="adv:AX_Entsperrergebnis"/>
    </sequence>
  </complexType>
  <element name="AX_Fortfuehrungsauftrag" substitutionGroup="adv:AA_Fortfuehrungsauftrag" type="adv:AX_FortfuehrungsauftragType"/>
  <complexType name="AX_FortfuehrungsauftragType">
    <complexContent>
      <extension base="adv:AA_FortfuehrungsauftragType">
        <sequence>
          <element name="profilkennung" type="string"/>
          <element name="antragsnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="abhaengigVon" type="string"/>
          <element name="auftragsnummer" type="string"/>
          <element minOccurs="0" name="impliziteLoeschungDerReservierung" type="adv:AX_ImpliziteLoeschungDerReservierungType"/>
          <element minOccurs="0" name="verarbeitungsart" type="adv:AX_Verarbeitungsart_FortfuehrungsauftragType"/>
          <element name="geometriebehandlung" type="boolean"/>
          <element name="mitTemporaeremArbeitsbereich" type="boolean"/>
          <element name="mitObjektenImFortfuehrungsgebiet" type="boolean"/>
          <element name="mitFortfuehrungsnachweis" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_FortfuehrungsauftragPropertyType">
    <sequence>
      <element ref="adv:AX_Fortfuehrungsauftrag"/>
    </sequence>
  </complexType>
  <element name="AX_Fortfuehrungsergebnis" substitutionGroup="adv:AA_Fortfuehrungsergebnis" type="adv:AX_FortfuehrungsergebnisType"/>
  <complexType name="AX_FortfuehrungsergebnisType">
    <complexContent>
      <extension base="adv:AA_FortfuehrungsergebnisType">
        <sequence>
          <element name="antragsnummer" type="string"/>
          <element minOccurs="0" name="temporaererArbeitsbereich" type="adv:AX_FortfuehrungsauftragPropertyType"/>
          <element minOccurs="0" name="objekteImFortfuehrungsgebiet" type="adv:AX_BestandsdatenauszugPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="fortfuehrungsnachweis">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence>
                    <element ref="gml:AbstractObject"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_FortfuehrungsergebnisPropertyType">
    <sequence>
      <element ref="adv:AX_Fortfuehrungsergebnis"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AX_FortfuehrungsnachweisProdukt" substitutionGroup="adv:AX_Benutzungsergebnis" type="adv:AX_FortfuehrungsnachweisProduktType"/>
  <complexType abstract="true" name="AX_FortfuehrungsnachweisProduktType">
    <complexContent>
      <extension base="adv:AX_BenutzungsergebnisType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_FortfuehrungsnachweisProduktPropertyType">
    <sequence>
      <element ref="adv:AX_FortfuehrungsnachweisProdukt"/>
    </sequence>
  </complexType>
  <simpleType name="AX_ImpliziteLoeschungDerReservierungType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
    </restriction>
  </simpleType>
  <element name="AX_K_Benutzungsergebnis" substitutionGroup="gml:AbstractObject" type="adv:AX_K_BenutzungsergebnisType"/>
  <complexType name="AX_K_BenutzungsergebnisType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="benutzungsparameter" type="string"/>
      <element minOccurs="0" name="folgeverarbeitung" type="adv:AX_FOLGEVAPropertyType"/>
      <element name="empfaenger" type="adv:AA_EmpfaengerPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="AX_K_BenutzungsergebnisPropertyType">
    <sequence>
      <element ref="adv:AX_K_Benutzungsergebnis"/>
    </sequence>
  </complexType>
  <element name="AX_Metadaten_Benutzungsergebnis" substitutionGroup="gml:AbstractObject" type="adv:AX_Metadaten_BenutzungsergebnisType"/>
  <complexType name="AX_Metadaten_BenutzungsergebnisType">
    <sequence>
      <element name="statischeMetadaten" type="gmd:MD_Metadata_PropertyType"/>
      <element minOccurs="0" name="dynamischeMetadaten" type="adv:AX_BenutzungsbezogeneMetadatenPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="AX_Metadaten_BenutzungsergebnisPropertyType">
    <sequence>
      <element ref="adv:AX_Metadaten_Benutzungsergebnis"/>
    </sequence>
  </complexType>
  <element name="AX_Metadaten_Dynamisch" substitutionGroup="gml:AbstractObject" type="adv:AX_Metadaten_DynamischType"/>
  <complexType name="AX_Metadaten_DynamischType">
    <sequence>
      <element maxOccurs="unbounded" name="gefuehrteObjektart" type="gml:ReferenceType">
        <annotation>
          <appinfo>
            <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AA_GefuehrteObjektart</targetCodeList>
          </appinfo>
        </annotation>
      </element>
      <element maxOccurs="unbounded" name="selektionsergebnisObjektart" type="adv:AX_Selektionsergebnis_ObjektartPropertyType"/>
      <element minOccurs="0" name="boundingBox">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence>
                <element ref="gml:PolyhedralSurface"/>
              </sequence>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element minOccurs="0" name="selektierteHistorie" type="adv:AX_SelektierteHistoriePropertyType"/>
    </sequence>
  </complexType>
  <complexType name="AX_Metadaten_DynamischPropertyType">
    <sequence>
      <element ref="adv:AX_Metadaten_Dynamisch"/>
    </sequence>
  </complexType>
  <element name="AX_NBAQuittierung" substitutionGroup="adv:AA_Auftrag" type="adv:AX_NBAQuittierungType"/>
  <complexType name="AX_NBAQuittierungType">
    <complexContent>
      <extension base="adv:AA_AuftragType">
        <sequence>
          <element name="profilkennung" type="string"/>
          <element name="antragsnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="abhaengigVon" type="string"/>
          <element name="auftragsnummer" type="string"/>
          <element name="gesamtNBAErfolgreich" type="boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="portionNBAErfolgreich" type="adv:AX_Portion_ErfolgreichPropertyType"/>
          <element name="uebernahmeprotokoll" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_NBAQuittierungPropertyType">
    <sequence>
      <element ref="adv:AX_NBAQuittierung"/>
    </sequence>
  </complexType>
  <element name="AX_NBAQuittierungsergebnis" substitutionGroup="adv:AA_Ergebnis" type="adv:AX_NBAQuittierungsergebnisType"/>
  <complexType name="AX_NBAQuittierungsergebnisType">
    <complexContent>
      <extension base="adv:AA_ErgebnisType">
        <sequence>
          <element name="antragsnummer" type="string"/>
          <element name="auftragsnummer" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_NBAQuittierungsergebnisPropertyType">
    <sequence>
      <element ref="adv:AX_NBAQuittierungsergebnis"/>
    </sequence>
  </complexType>
  <element name="AX_NutzerbezogeneBestandsdatenaktualisierung_NBA" substitutionGroup="adv:AX_Benutzungsergebnis" type="adv:AX_NutzerbezogeneBestandsdatenaktualisierung_NBAType"/>
  <complexType name="AX_NutzerbezogeneBestandsdatenaktualisierung_NBAType">
    <complexContent>
      <extension base="adv:AX_BenutzungsergebnisType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="koordinatenangaben" type="adv:AA_KoordinatenreferenzsystemangabenPropertyType"/>
          <element name="auftragsnummer" type="string"/>
          <element minOccurs="0" name="portionskennung" type="adv:AX_PortionskennungPropertyType"/>
          <element minOccurs="0" name="letzteAbgabeArt" type="adv:AX_LetzteAbgabeArtType"/>
          <element name="profilkennung" type="string"/>
          <element minOccurs="0" name="abgabeintervallBeginn" type="dateTime"/>
          <element minOccurs="0" name="abgabeintervallEnde" type="dateTime"/>
          <element name="geaenderteObjekte">
            <complexType>
              <sequence>
                <element ref="wfs:Transaction"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_NutzerbezogeneBestandsdatenaktualisierung_NBAPropertyType">
    <sequence>
      <element ref="adv:AX_NutzerbezogeneBestandsdatenaktualisierung_NBA"/>
    </sequence>
  </complexType>
  <element name="AX_Ordnungsnummer" substitutionGroup="gml:AbstractObject" type="adv:AX_OrdnungsnummerType"/>
  <complexType name="AX_OrdnungsnummerType">
    <sequence>
      <element name="nummer" type="string"/>
      <element minOccurs="0" name="folgenummer" type="string"/>
    </sequence>
  </complexType>
  <complexType name="AX_OrdnungsnummerPropertyType">
    <sequence>
      <element ref="adv:AX_Ordnungsnummer"/>
    </sequence>
  </complexType>
  <element name="AX_Portion_Erfolgreich" substitutionGroup="gml:AbstractObject" type="adv:AX_Portion_ErfolgreichType"/>
  <complexType name="AX_Portion_ErfolgreichType">
    <sequence>
      <element name="portionskennung" type="adv:AX_PortionskennungPropertyType"/>
      <element name="erfolgreich" type="boolean"/>
      <element name="uebernahmeprotokoll" type="string"/>
    </sequence>
  </complexType>
  <complexType name="AX_Portion_ErfolgreichPropertyType">
    <sequence>
      <element ref="adv:AX_Portion_Erfolgreich"/>
    </sequence>
  </complexType>
  <element name="AX_Portionskennung" substitutionGroup="gml:AbstractObject" type="adv:AX_PortionskennungType"/>
  <complexType name="AX_PortionskennungType">
    <sequence>
      <element name="datum" type="dateTime"/>
      <element name="laufendeNummerVonGesamtzahl" type="string"/>
      <element name="gesamtzahl" type="integer"/>
      <element minOccurs="0" name="suedwestEcke" type="gml:DirectPositionType"/>
    </sequence>
  </complexType>
  <complexType name="AX_PortionskennungPropertyType">
    <sequence>
      <element ref="adv:AX_Portionskennung"/>
    </sequence>
  </complexType>
  <simpleType name="AX_Reservierungsart_ReservierungsauftragType">
    <restriction base="string">
      <enumeration value="1100"/>
      <enumeration value="1200"/>
      <enumeration value="2100"/>
      <enumeration value="2200"/>
      <enumeration value="3000"/>
    </restriction>
  </simpleType>
  <element name="AX_Reservierungsauftrag" substitutionGroup="adv:AA_Auftrag" type="adv:AX_ReservierungsauftragType"/>
  <complexType name="AX_ReservierungsauftragType">
    <complexContent>
      <extension base="adv:AA_AuftragType">
        <sequence>
          <element name="profilkennung" type="string"/>
          <element name="antragsnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="abhaengigVon" type="string"/>
          <element minOccurs="0" name="auftragsnummer" type="string"/>
          <element name="art" type="adv:AX_Art_ReservierungType"/>
          <element name="reservierungsart" type="adv:AX_Reservierungsart_ReservierungsauftragType"/>
          <element name="vermessungsstelle" type="adv:AX_Dienststelle_SchluesselPropertyType"/>
          <element minOccurs="0" name="zahl" type="integer"/>
          <element minOccurs="0" name="nummerierungsbezirk" type="string"/>
          <element minOccurs="0" name="gebietskennung" type="adv:AX_Reservierungsauftrag_GebietskennungPropertyType"/>
          <element minOccurs="0" name="ordnungsnummer1" type="adv:AX_OrdnungsnummerPropertyType"/>
          <element minOccurs="0" name="ordnungsnummer2" type="adv:AX_OrdnungsnummerPropertyType"/>
          <element minOccurs="0" name="ablaufDerReservierung" type="date"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_ReservierungsauftragPropertyType">
    <sequence>
      <element ref="adv:AX_Reservierungsauftrag"/>
    </sequence>
  </complexType>
  <element name="AX_Reservierungsergebnis" substitutionGroup="adv:AA_Ergebnis" type="adv:AX_ReservierungsergebnisType"/>
  <complexType name="AX_ReservierungsergebnisType">
    <complexContent>
      <extension base="adv:AA_ErgebnisType">
        <sequence>
          <element name="antragsnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="reservierteNummern" type="string"/>
          <element minOccurs="0" name="auftragsnummer" type="string"/>
          <element name="art" type="adv:AX_Art_ReservierungType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_ReservierungsergebnisPropertyType">
    <sequence>
      <element ref="adv:AX_Reservierungsergebnis"/>
    </sequence>
  </complexType>
  <element name="AX_SelektierteHistorie" substitutionGroup="gml:AbstractObject" type="adv:AX_SelektierteHistorieType"/>
  <complexType name="AX_SelektierteHistorieType">
    <sequence>
      <element minOccurs="0" name="start" type="date"/>
      <element minOccurs="0" name="ende" type="date"/>
    </sequence>
  </complexType>
  <complexType name="AX_SelektierteHistoriePropertyType">
    <sequence>
      <element ref="adv:AX_SelektierteHistorie"/>
    </sequence>
  </complexType>
  <element name="AX_Selektionsergebnis_Objektart" substitutionGroup="gml:AbstractObject" type="adv:AX_Selektionsergebnis_ObjektartType"/>
  <complexType name="AX_Selektionsergebnis_ObjektartType">
    <sequence>
      <element name="name" type="string"/>
      <element name="anzahlDerInstanzen" type="integer"/>
    </sequence>
  </complexType>
  <complexType name="AX_Selektionsergebnis_ObjektartPropertyType">
    <sequence>
      <element ref="adv:AX_Selektionsergebnis_Objektart"/>
    </sequence>
  </complexType>
  <simpleType name="AX_Selektionsmasstab_BenutzungsauftragType">
    <restriction base="string">
      <enumeration value="0500"/>
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
    </restriction>
  </simpleType>
  <element name="AX_Sperrauftrag" substitutionGroup="adv:AA_Auftrag" type="adv:AX_SperrauftragType"/>
  <complexType name="AX_SperrauftragType">
    <complexContent>
      <extension base="adv:AA_AuftragType">
        <sequence>
          <element name="profilkennung" type="string"/>
          <element name="antragsnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="abhaengigVon" type="string"/>
          <element name="auftragsnummer" type="string"/>
          <element maxOccurs="unbounded" name="uuidListe" type="anyURI"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_SperrauftragPropertyType">
    <sequence>
      <element ref="adv:AX_Sperrauftrag"/>
    </sequence>
  </complexType>
  <element name="AX_Sperrergebnis" substitutionGroup="adv:AA_Ergebnis" type="adv:AX_SperrergebnisType"/>
  <complexType name="AX_SperrergebnisType">
    <complexContent>
      <extension base="adv:AA_ErgebnisType">
        <sequence>
          <element name="antragsnummer" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_SperrergebnisPropertyType">
    <sequence>
      <element ref="adv:AX_Sperrergebnis"/>
    </sequence>
  </complexType>
  <element name="AX_Themendefinition" substitutionGroup="adv:AA_Themendefinition" type="adv:AX_ThemendefinitionType"/>
  <complexType name="AX_ThemendefinitionType">
    <complexContent>
      <extension base="adv:AA_ThemendefinitionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AX_ThemendefinitionPropertyType">
    <sequence>
      <element ref="adv:AX_Themendefinition"/>
    </sequence>
  </complexType>
  <simpleType name="AX_Verarbeitungsart_EinrichtungsauftragType">
    <restriction base="string">
      <enumeration value="6000"/>
      <enumeration value="6100"/>
      <enumeration value="6200"/>
    </restriction>
  </simpleType>
  <simpleType name="AX_Verarbeitungsart_FortfuehrungsauftragType">
    <restriction base="string">
      <enumeration value="1000"/>
      <enumeration value="2000"/>
      <enumeration value="3000"/>
      <enumeration value="4000"/>
      <enumeration value="5000"/>
    </restriction>
  </simpleType>
  <element name="ExceptionAAA" substitutionGroup="ows:Exception" type="adv:ExceptionAAAType"/>
  <complexType name="ExceptionAAAType">
    <complexContent>
      <extension base="ows:ExceptionType">
        <sequence>
          <element name="antragsnummer" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExceptionAAAPropertyType">
    <sequence>
      <element ref="adv:ExceptionAAA"/>
    </sequence>
  </complexType>
  <element name="ExceptionAAAEntsperren" substitutionGroup="adv:ExceptionAAA" type="adv:ExceptionAAAEntsperrenType"/>
  <complexType name="ExceptionAAAEntsperrenType">
    <complexContent>
      <extension base="adv:ExceptionAAAType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="uuidListe" type="anyURI"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExceptionAAAEntsperrenPropertyType">
    <sequence>
      <element ref="adv:ExceptionAAAEntsperren"/>
    </sequence>
  </complexType>
  <element name="ExceptionAAAFortfuehrungOderSperrung" substitutionGroup="adv:ExceptionAAA" type="adv:ExceptionAAAFortfuehrungOderSperrungType"/>
  <complexType name="ExceptionAAAFortfuehrungOderSperrungType">
    <complexContent>
      <extension base="adv:ExceptionAAAType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="bereitsGesperrteObjekte" type="anyURI"/>
          <element maxOccurs="unbounded" minOccurs="0" name="nichtMehrAktuelleObjekte" type="anyURI"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExceptionAAAFortfuehrungOderSperrungPropertyType">
    <sequence>
      <element ref="adv:ExceptionAAAFortfuehrungOderSperrung"/>
    </sequence>
  </complexType>
</schema>
